<br>
<br>
<div class="Container"  >
    <div class="row" >

      <form [formGroup]="loginform" (ngSubmit)="saveproduct()" >
           <div class="form-group"> <input type="text" class="form-control" placeholder="Enter Product Name" formControlName="productName"></div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Product Description" formControlName="productDescription">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter Product Price" formControlName="productPrice">
            </div>


          
                <!-- <td> Supplier Names </td> -->
            
                   <!-- <select formControlName="supplier"  (change)="savesid($event)">	 -->
                      
                    <select formControlName="supplier"  (change)="savesid($event)">	
            
                            <option [value]="s.sid" *ngFor="let s of suplist"> {{s.sname}} </option>
                            
                        </select>   
                        <br><br>
            
                
                  <div class="form-group"> 





            <div class="form-group">
               <button class="btn btn-success btn-lg btn-block" type="submit">SUBMIT</button>
            </div>
            

    

            

        







